h3 {
   color: brown;
   text-align: center;
}

img {
   width: 300px;
   padding: 4px;
}

.photos h3 {
   text-align: center;
   display: flex;
   justify-content: center;
}

.photos {

   justify-content: center;
}