.chores {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
    border-style: dotted;
    border-color: aqua;
}

.chores h3 {
    text-decoration: underline;
}

.chores li {
    font-style: italic;
}